<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalsystem">
    <!-- if you want to load images from the internet -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 需降低Using system app permission权限至error以下 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 访问网络，用于SDK鉴权、算路导航 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取网络状态，避免产生不必要的网络请求 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取Wi-Fi状态，避免产生不必要的网络请求 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于ugc事件上报拍照录像 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于ugc事件上报录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalSystem"
        android:usesCleartextTraffic="true">

        <activity android:name=".AnalyzeActivity"
            android:label="健康管理">
        </activity>

        <activity android:name=".PayActivity"
            android:label="支付账单">
        </activity>

        <activity
            android:name=".BannerWebView3"
            android:label="新闻咨询" />

        <activity
            android:name=".BannerWebView2"
            android:label="新闻资讯" />

        <activity
            android:name=".BannerWebView1"
            android:label="新闻咨询" />

        <activity
            android:name=".ReportActivity"
            android:label="检查报告"
            android:theme="@style/Theme.MedicalSystem.NoActionBar" />

        <activity
            android:name=".UserProfileActivity"
            android:label="个人资料" />

        <activity
            android:name=".EditProfileActivity"
            android:label="修改资料" />

        <!-- 注册 -->
        <activity
            android:name=".RegisterActivity"
            android:label="注册" />
        <!-- 登录 -->
        <activity
            android:name=".LoginActivity"
            android:label="登录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  
        </activity>

        <activity
            android:name=".EditNewsActivity"
            android:label="编辑你的分享" />
        <activity
            android:name=".ReservationActivity"
            android:label="挂号预约" /> <!-- 百度地图Ak -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8K8gAiRuTKtc6HT48hTLtS2WL0g27Ad1" /> <!-- 地图 -->
        <activity
            android:name=".MapActivity"
            android:label="导航" /> <!-- Main -->
        <activity android:name=".MainActivity" /> <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- 照相 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.medicalsystem.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>